In [4]:
# dependencies
import pandas as pd
from census import Census
from us import states

# census API key
from config import api_key

### 2011 Census Call

In [5]:
mhi = 'B19013_001E'
mhv = 'B25077_001E'
wbd = 'B99151_001E'

c = Census(api_key, year=2011)

In [6]:
income_df = pd.DataFrame(c.acs5.zipcode(mhi, Census.ALL))
housing_df = pd.DataFrame(c.acs5.zipcode(mhv, Census.ALL))
bachelors_df = pd.DataFrame(c.acs5.zipcode(wbd, Census.ALL))
total_df = pd.DataFrame(c.acs5.zipcode('B01003_001E', Census.ALL))

df11 = income_df.merge(housing_df, on='zip code tabulation area')
df11 = df11.merge(bachelors_df, on='zip code tabulation area')
df11 = df11.merge(total_df, on='zip code tabulation area')

df11 = df11.rename(columns={'B19013_001E': 'Median Household Income', 'zip code tabulation area': 'Zip', 'B25077_001E': 'Median Home Value', 'B01003_001E': 'Total Population', 'B99151_001E': 'Have Bachelors+'})

df11['% Bachelors+'] = round(df11['Have Bachelors+']/df11['Total Population'] * 100, 2)

In [7]:
df11

,Median Household Income,Zip,Median Home Value,Have Bachelors+,Total Population,% Bachelors+
0,13318.0,00601,103200.0,11724.0,18533.0,63.26
1,14947.0,00602,89300.0,27432.0,41930.0,65.42
2,14437.0,00603,116700.0,36436.0,54475.0,66.89
3,11155.0,00606,101000.0,4038.0,6386.0,63.23
4,16367.0,00610,109400.0,19302.0,29111.0,66.30
...,...,...,...,...,...,...
33115,27500.0,99923,108300.0,77.0,116.0,66.38
33116,43125.0,99925,164400.0,525.0,689.0,76.20
33117,45216.0,99926,101100.0,919.0,1488.0,61.76
33118,17639.0,99927,123800.0,67.0,67.0,100.00
33119,50286.0,99929,169600.0,1582.0,2321.0,68.16

In [8]:
df11.to_csv('data_exploration/data/df11.csv')

In [ ]:
print(df11['Median Household Income'].isna().sum())
print(df11['Median Home Value'].isna().sum())
print(df11['Have Bachelors+'].isna().sum())

In [ ]:
print(df11.loc[df11['Median Household Income'] <= 0])
print(df11.loc[df11['Median Home Value'] <= 0])
print(df11.loc[df11['Have Bachelors+'] <= 0])

### 2018 Census Call

In [ ]:
c = Census(api_key, year=2018)

In [ ]:
income_df = pd.DataFrame(c.acs5.zipcode(mhi, Census.ALL))
housing_df = pd.DataFrame(c.acs5.zipcode(mhv, Census.ALL))
bachelors_df = pd.DataFrame(c.acs5.zipcode(wbd, Census.ALL))
total_df = pd.DataFrame(c.acs5.zipcode('B01003_001E', Census.ALL))

df18 = income_df.merge(housing_df, on='zip code tabulation area')
df18 = df18.merge(bachelors_df, on='zip code tabulation area')
df18 = df18.merge(total_df, on='zip code tabulation area')

df18 = df18.rename(columns={'B19013_001E': 'Median Household Income', 'zip code tabulation area': 'Zip', 'B25077_001E': 'Median Home Value', 'B01003_001E': 'Total Population', 'B99151_001E': 'Have Bachelors+'})

df18['% Bachelors+'] = round(df11['Have Bachelors+']/df11['Total Population'] * 100, 2)

In [ ]:
print(df18['Median Household Income'].isna().sum())
print(df18['Median Home Value'].isna().sum())
print(df18['Have Bachelors+'].isna().sum())

In [ ]:
df18.loc[df18['Median Household Income'] <= 0]['Median Household Income'].unique()

In [ ]:
print(df18.loc[df18['Median Household Income'] <= 0])
print(df18.loc[df18['Median Home Value'] <= 0])
print(df18.loc[df18['Have Bachelors+'] <= 0])

### Starbucks Data

In [ ]:
sb_data = pd.read_csv('data_exploration/data/directory.csv')

In [ ]:
sb_data.loc[sb_data['Country'] == 'US']['Ownership Type'].value_counts()

In [ ]:
sb_data.loc[sb_data['Country'] == 'US']

In [ ]:
sb_zeroed = sb_data.loc[sb_data['Country'] == 'US'].dropna()

In [ ]:
splits = [int(''.join(str(i).split())[:5]) for i in sb_zeroed['Postcode']]

In [ ]:
sb_zeroed['Zip'] = splits

In [ ]:
len(sb_zeroed.loc[sb_zeroed['Zip'] == 0])

In [ ]:
sb_groupby = sb_zeroed.groupby('Zip')

In [ ]:
sb_count = sb_groupby.count()
sb_df = pd.DataFrame(sb_count['Brand']).reset_index()

In [ ]:
# Final Starbucks Dependents
sb_df