In [1]:
# dependencies
import pandas as pd
from census import Census
from us import states

# census API key
from config import api_key

### 2011 Census Call

In [2]:
mhi = 'B19013_001E'
mhv = 'B25077_001E'
wbd = 'B99151_001E'

c = Census(api_key, year=2011)

In [3]:
income_df = pd.DataFrame(c.acs5.zipcode(mhi, Census.ALL))
housing_df = pd.DataFrame(c.acs5.zipcode(mhv, Census.ALL))
bachelors_df = pd.DataFrame(c.acs5.zipcode(wbd, Census.ALL))
total_df = pd.DataFrame(c.acs5.zipcode('B01003_001E', Census.ALL))

df11 = income_df.merge(housing_df, on='zip code tabulation area')
df11 = df11.merge(bachelors_df, on='zip code tabulation area')
df11 = df11.merge(total_df, on='zip code tabulation area')

df11 = df11.rename(columns={'B19013_001E': 'Median Household Income', 'zip code tabulation area': 'Zip', 'B25077_001E': 'Median Home Value', 'B01003_001E': 'Total Population', 'B99151_001E': 'Have Bachelors+'})

df11['% Bachelors+'] = round(df11['Have Bachelors+']/df11['Total Population'] * 100, 2)

In [4]:
df11

,Median Household Income,Zip,Median Home Value,Have Bachelors+,Total Population,% Bachelors+
0,13318.0,00601,103200.0,11724.0,18533.0,63.26
1,14947.0,00602,89300.0,27432.0,41930.0,65.42
2,14437.0,00603,116700.0,36436.0,54475.0,66.89
3,11155.0,00606,101000.0,4038.0,6386.0,63.23
4,16367.0,00610,109400.0,19302.0,29111.0,66.30
...,...,...,...,...,...,...
33115,27500.0,99923,108300.0,77.0,116.0,66.38
33116,43125.0,99925,164400.0,525.0,689.0,76.20
33117,45216.0,99926,101100.0,919.0,1488.0,61.76
33118,17639.0,99927,123800.0,67.0,67.0,100.00
33119,50286.0,99929,169600.0,1582.0,2321.0,68.16

In [5]:
print(df11['Median Household Income'].isna().sum())
print(df11['Median Home Value'].isna().sum())
print(df11['Have Bachelors+'].isna().sum())

0
0
0

In [6]:
print(df11.loc[df11['Median Household Income'] <= 0])
print(df11.loc[df11['Median Home Value'] <= 0])
print(df11.loc[df11['Have Bachelors+'] <= 0])

       Median Household Income    Zip  Median Home Value  Have Bachelors+  \
26                -666666666.0  12862       -666666666.0              0.0
64                -666666666.0  12933       -666666666.0              0.0
98                -666666666.0  12977       -666666666.0           1638.0
115               -666666666.0  13024       -666666666.0           1562.0
187               -666666666.0  13138       -666666666.0             30.0
...                        ...    ...                ...              ...
33025             -666666666.0  99706       -666666666.0              0.0
33038             -666666666.0  99732       -666666666.0              0.0
33040             -666666666.0  99734       -666666666.0            206.0
33062             -666666666.0  99757       -666666666.0              0.0
33110             -666666666.0  99903             9999.0             16.0

       Total Population  % Bachelors+
26                  0.0           NaN
64                  0.0           NaN
98               1932.0         84.78
115              1729.0         90.34
187                30.0        100.00
...                 ...           ...
33025               0.0           NaN
33038               0.0           NaN
33040             233.0         88.41
33062               0.0           NaN
33110              32.0         50.00

[923 rows x 6 columns]
       Median Household Income    Zip  Median Home Value  Have Bachelors+  \
26                -666666666.0  12862       -666666666.0              0.0
64                -666666666.0  12933       -666666666.0              0.0
98                -666666666.0  12977       -666666666.0           1638.0
115               -666666666.0  13024       -666666666.0           1562.0
141                    39485.0  13062       -666666666.0             77.0
...                        ...    ...                ...              ...
33025             -666666666.0  99706       -666666666.0              0.0
33038             -666666666.0  99732       -666666666.0              0.0
33040             -666666666.0  99734       -666666666.0            206.0
33062             -666666666.0  99757       -666666666.0              0.0
33080                  86579.0  99775       -666666666.0            245.0

       Total Population  % Bachelors+
26                  0.0           NaN
64                  0.0           NaN
98               1932.0         84.78
115              1729.0         90.34
141                77.0        100.00
...                 ...           ...
33025               0.0           NaN
33038               0.0           NaN
33040             233.0         88.41
33062               0.0           NaN
33080             892.0         27.47

[1260 rows x 6 columns]
       Median Household Income    Zip  Median Home Value  Have Bachelors+  \
26                -666666666.0  12862       -666666666.0              0.0
64                -666666666.0  12933       -666666666.0              0.0
226               -666666666.0  13290       -666666666.0              0.0
474               -666666666.0  13826       -666666666.0              0.0
605               -666666666.0  00950       -666666666.0              0.0
...                        ...    ...                ...              ...
33019             -666666666.0  99695       -666666666.0              0.0
33023             -666666666.0  99704       -666666666.0              0.0
33025             -666666666.0  99706       -666666666.0              0.0
33038             -666666666.0  99732       -666666666.0              0.0
33062             -666666666.0  99757       -666666666.0              0.0

       Total Population  % Bachelors+
26                  0.0           NaN
64                  0.0           NaN
226                 0.0           NaN
474                 0.0           NaN
605                 0.0           NaN
...                 ...           ...
33019               0.0           NaN
33023              20.0           0.0
33025               0.0           NaN
33038               0.0           NaN
33062               0.0           NaN

[409 rows x 6 columns]

### 2018 Census Call

In [7]:
c = Census(api_key, year=2018)

In [8]:
income_df = pd.DataFrame(c.acs5.zipcode(mhi, Census.ALL))
housing_df = pd.DataFrame(c.acs5.zipcode(mhv, Census.ALL))
bachelors_df = pd.DataFrame(c.acs5.zipcode(wbd, Census.ALL))
total_df = pd.DataFrame(c.acs5.zipcode('B01003_001E', Census.ALL))

df18 = income_df.merge(housing_df, on='zip code tabulation area')
df18 = df18.merge(bachelors_df, on='zip code tabulation area')
df18 = df18.merge(total_df, on='zip code tabulation area')

df18 = df18.rename(columns={'B19013_001E': 'Median Household Income', 'zip code tabulation area': 'Zip', 'B25077_001E': 'Median Home Value', 'B01003_001E': 'Total Population', 'B99151_001E': 'Have Bachelors+'})

df18['% Bachelors+'] = round(df11['Have Bachelors+']/df11['Total Population'] * 100, 2)

In [9]:
print(df18['Median Household Income'].isna().sum())
print(df18['Median Home Value'].isna().sum())
print(df18['Have Bachelors+'].isna().sum())

35
0
0

In [68]:
df18.loc[df18['Median Household Income'] <= 0]['Median Household Income'].unique()

array([-6.66666666e+08])

In [10]:
print(df18.loc[df18['Median Household Income'] <= 0])
print(df18.loc[df18['Median Home Value'] <= 0])
print(df18.loc[df18['Have Bachelors+'] <= 0])

       Median Household Income    Zip  Median Home Value  Have Bachelors+  \
42                -666666666.0  00694       -666666666.0             69.0
86                -666666666.0  00786            95700.0            348.0
107               -666666666.0  00934       -666666666.0             60.0
108               -666666666.0  00936       -666666666.0            772.0
110               -666666666.0  00950       -666666666.0              0.0
...                        ...    ...                ...              ...
33044             -666666666.0  99774       -666666666.0              7.0
33058             -666666666.0  99790       -666666666.0             10.0
33075             -666666666.0  99903       -666666666.0              0.0
33080             -666666666.0  99923       -666666666.0             15.0
33083             -666666666.0  99927           272500.0             38.0

       Total Population  % Bachelors+
42                 69.0         62.12
86                348.0         64.26
107                79.0         76.92
108               812.0         70.00
110                 0.0         73.60
...                 ...           ...
33044              11.0         49.04
33058              10.0         47.72
33075               0.0         45.23
33080              15.0         27.47
33083              38.0         41.80

[2194 rows x 6 columns]
       Median Household Income    Zip  Median Home Value  Have Bachelors+  \
42                -666666666.0  00694       -666666666.0             69.0
107               -666666666.0  00934       -666666666.0             60.0
108               -666666666.0  00936       -666666666.0            772.0
110               -666666666.0  00950       -666666666.0              0.0
111               -666666666.0  00951       -666666666.0              0.0
...                        ...    ...                ...              ...
33106                      NaN  87581       -666666666.0             32.0
33107                      NaN  87029       -666666666.0            201.0
33111                      NaN  87521       -666666666.0            685.0
33115                      NaN  87515       -666666666.0            225.0
33116                      NaN  87518       -666666666.0              9.0

       Total Population  % Bachelors+
42                 69.0         62.12
107                79.0         76.92
108               812.0         70.00
110                 0.0         73.60
111                 0.0         71.65
...                 ...           ...
33106              32.0         39.76
33107             260.0         71.76
33111             835.0         98.67
33115             363.0         66.38
33116               9.0         76.20

[2472 rows x 6 columns]
       Median Household Income    Zip  Median Home Value  Have Bachelors+  \
110               -666666666.0  00950       -666666666.0              0.0
111               -666666666.0  00951       -666666666.0              0.0
166               -666666666.0  01063       -666666666.0              0.0
184               -666666666.0  01086       -666666666.0              0.0
206               -666666666.0  01199       -666666666.0              0.0
...                        ...    ...                ...              ...
32856             -666666666.0  99513       -666666666.0              0.0
32984             -666666666.0  99695       -666666666.0              0.0
32988             -666666666.0  99704       -666666666.0              0.0
33075             -666666666.0  99903       -666666666.0              0.0
33100                      NaN  87554       -666666666.0              0.0

       Total Population  % Bachelors+
110                 0.0         73.60
111                 0.0         71.65
166               592.0         65.39
184               372.0        100.00
206                 0.0         85.55
...                 ...           ...
32856               0.0         60.19
32984               0.0         40.90
32988              39.0         73.04
33075               0.0         45.23
33100               0.0         73.97

[357 rows x 6 columns]

### Starbucks Data

In [11]:
sb_data = pd.read_csv('data_exploration/data/directory.csv')

In [12]:
sb_data.loc[sb_data['Country'] == 'US']['Ownership Type'].value_counts()

Company Owned    8226
Licensed         5382
Name: Ownership Type, dtype: int64

In [13]:
sb_data.loc[sb_data['Country'] == 'US']

,Brand,Store Number,Store Name,Ownership Type,Street Address,City,State/Province,Country,Postcode,Phone Number,Timezone,Longitude,Latitude
11964,Starbucks,3513-125945,Safeway-Anchorage #1809,Licensed,5600 Debarr Rd Ste 9,Anchorage,AK,US,995042300,907-339-0900,GMT-09:00 America/Anchorage,-149.78,61.21
11965,Starbucks,74352-84449,Safeway-Anchorage #2628,Licensed,1725 Abbott Rd,Anchorage,AK,US,995073444,907-339-2800,GMT-09:00 America/Anchorage,-149.84,61.14
11966,Starbucks,12449-152385,Safeway - Anchorage #1813,Licensed,1501 Huffman Rd,Anchorage,AK,US,995153596,907-339-1300,GMT-09:00 America/Anchorage,-149.85,61.11
11967,Starbucks,24936-233524,100th & C St - Anchorage,Company Owned,"320 W. 100th Ave, 100, Southgate Shopping Ctr ...",Anchorage,AK,US,99515,(907) 227-9631,GMT-09:00 America/Anchorage,-149.89,61.13
11968,Starbucks,8973-85630,Old Seward & Diamond,Company Owned,1005 E Dimond Blvd,Anchorage,AK,US,995152050,907-344-4160,GMT-09:00 America/Anchorage,-149.86,61.14
...,...,...,...,...,...,...,...,...,...,...,...,...,...
25567,Starbucks,74385-87621,Safeway-Laramie #2466,Licensed,554 N 3rd St,Laramie,WY,US,820723012,307-721-5107,GMT-07:00 America/Denver,-105.59,41.32
25568,Starbucks,73320-24375,Ridley's - Laramie #1131,Licensed,3112 E. Grand,Laramie,WY,US,820705141,307-742-8146,GMT-07:00 America/Denver,-105.56,41.31
25569,Starbucks,22425-219024,Laramie - Grand & 30th,Company Owned,3021 Grand Ave,Laramie,WY,US,82070,307-742-3262,GMT-07:00 America/Denver,-105.56,41.31
25570,Starbucks,10849-103163,I-80 & Dewar Dr-Rock Springs,Company Owned,118 Westland Way,Rock Springs,WY,US,829015751,307-362-7145,GMT-07:00 America/Denver,-109.25,41.58
25571,Starbucks,10769-102454,Coffeen & Brundage Lane-Sheridan,Company Owned,2208 Coffeen Ave,Sheridian,WY,US,828016213,307-672-5129,GMT-07:00 America/Denver,-106.94,44.77

In [43]:
sb_zeroed = sb_data.loc[sb_data['Country'] == 'US'].dropna()

In [44]:
splits = [int(''.join(str(i).split())[:5]) for i in sb_zeroed['Postcode']]

In [45]:
sb_zeroed['Zip'] = splits

In [46]:
len(sb_zeroed.loc[sb_zeroed['Zip'] == 0])

0

In [48]:
sb_groupby = sb_zeroed.groupby('Zip')

In [60]:
sb_count = sb_groupby.count()
sb_df = pd.DataFrame(sb_count['Brand']).reset_index()

In [62]:
# Final Starbucks Dependents
sb_df

        Zip  Brand
0      1035      1
1      1040      2
2      1056      1
3      1201      1
4      1331      1
...     ...    ...
5888  99701      2
5889  99705      1
5890  99709      3
5891  99801      2
5892  99901      1

[5893 rows x 2 columns]

### Walmart Data

In [6]:
wal_data = pd.read_csv('data_exploration/data/walmartstoreloaction.csv')

In [29]:
wal_data['country'].value_counts()

US    4636
PR      18
Name: country, dtype: int64

In [34]:
wal_trimmed = wal_data[['name','street_address','city','state','zip_code','country','latitude','longitude']]
wal_trimmed = wal_trimmed.rename(columns={'name': 'Location Name', 'street_address': 'Address', 'city': 'City', 'state': 'State', 'zip_code': 'Zip', 'country': 'Country', 'latitude': 'Lat','longitude':'Long'})
wal_trimmed['Brand']='Walmart'
wal_trimmed

,Location Name,Address,City,State,Zip,Country,Lat,Long,Brand
0,Conway Supercenter,1155 Hwy 65 North,Conway,AR,72032,US,35.108660,-92.436905,Walmart
1,Sikeston Supercenter,1303 S Main St,Sikeston,MO,63801,US,36.857394,-89.586051,Walmart
2,Tahlequah Supercenter,2020 S Muskogee Ave,Tahlequah,OK,74464,US,35.888765,-94.979859,Walmart
3,Mountain Home Supercenter,65 Wal Mart Dr,Mountain Home,AR,72653,US,36.354957,-92.341026,Walmart
4,Claremore Supercenter,1500 S Lynn Riggs Blvd,Claremore,OK,74017,US,36.293955,-95.627125,Walmart
...,...,...,...,...,...,...,...,...,...
4649,Pearland Neighborhood Market,12631 Broadway Street,Pearland,TX,77584,US,29.556350,-95.415782,Walmart
4650,Bentonville Gas Station,1300 S Walton Blvd,Bentonville,AR,72712,US,36.357486,-94.214669,Walmart
4651,Millcreek Pickup only,3701 S Highland Dr,Millcreek,UT,84106,US,40.691031,-111.846529,Walmart
4652,Dallas Supercenter,15757 Coit Rd,Dallas,TX,75248,US,32.963412,-96.770294,Walmart
4653,Murray Pickup only,5596 S Van Winkle Expy,Murray,UT,84117,US,40.649827,-111.849349,Walmart

In [43]:
# I am attempting to use the length of the 'City' column +1 as the number of characters to remove
# from the 'Location Name' value of each row to leave only the Store Type for classification...
# I'm not sure how to use a variable to indicate the number of characters to slice off.
for index, row in wal_trimmed.iterrows():
    city_length = len(row['City'])+1
    # Ideally I would have some code that would slice off the number of characters = city_length
    # from 'Location Name' for each row

In [44]:
wal_groupby = wal_trimmed.groupby('Zip')

In [45]:
wal_count = wal_groupby.count()
wal_df = pd.DataFrame(wal_count['Brand']).reset_index()

In [46]:
wal_df

        Zip  Brand
0       617      1
1       659      1
2       662      1
3       674      1
4       680      1
...     ...    ...
4172  99611      1
4173  99615      1
4174  99654      1
4175  99701      1
4176  99901      1

[4177 rows x 2 columns]