In [1]:
# dependencies
import pandas as pd
import numpy as np
from matplotlib.pyplot import plot as plt
from census import Census
from us import states

# census API key
from config import api_key

### 2011 Census Call

In [2]:
# Saving variables for readability
mhi = 'B19013_001E'
mhv = 'B25077_001E'
wbd = 'B99151_001E'

# Instantiating census object
c = Census(api_key, year=2011)

In [3]:
# Creating DFs for each variable so as to have access to all zipcodes
income_df = pd.DataFrame(c.acs5.zipcode(mhi, Census.ALL))
housing_df = pd.DataFrame(c.acs5.zipcode(mhv, Census.ALL))
bachelors_df = pd.DataFrame(c.acs5.zipcode(wbd, Census.ALL))
total_df = pd.DataFrame(c.acs5.zipcode('B01003_001E', Census.ALL))

# Merging DFs on zipcodes
df11 = income_df.merge(housing_df, on='zip code tabulation area')
df11 = df11.merge(bachelors_df, on='zip code tabulation area')
df11 = df11.merge(total_df, on='zip code tabulation area')

# Renaming columns
df11 = df11.rename(columns={'B19013_001E': 'Median Household Income', 'zip code tabulation area': 'Zip', 'B25077_001E': 'Median Home Value', 'B01003_001E': 'Total Population', 'B99151_001E': 'Have Bachelors+'})

# Creating column to measure % of individuals with a bachelors degree or higher
df11['% Bachelors+'] = round(df11['Have Bachelors+']/df11['Total Population'] * 100, 2)

# Reorganizing columns
df11 = df11[['Zip', 'Median Household Income', 'Median Home Value', '% Bachelors+']]

In [4]:
# Cleaning up corrupted null values, imputing actual nulls into them
df11['Median Household Income'] = [np.nan if i<0 else i for i in df11['Median Household Income']]
df11['Median Home Value'] =[np.nan if i<0 else i for i in df11['Median Home Value']]
df11['% Bachelors+'] = [np.nan if i<0 else i for i in df11['% Bachelors+']]

In [5]:
# Replacing null values with the mean of each column
df11['Median Household Income'] = df11['Median Household Income'].fillna(df11['Median Household Income'].mean())
df11['Median Home Value'] = df11['Median Home Value'].fillna(df11['Median Home Value'].mean())
df11['% Bachelors+'] = df11['% Bachelors+'].fillna(df11['% Bachelors+'].mean())

In [6]:
# Examining null count
df11.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 33120 entries, 0 to 33119
Data columns (total 4 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Zip                      33120 non-null  object
 1   Median Household Income  33120 non-null  float64
 2   Median Home Value        33120 non-null  float64
 3   % Bachelors+             33120 non-null  float64
dtypes: float64(3), object(1)
memory usage: 1.3+ MB

### 2018 Census Call

In [7]:
c = Census(api_key, year=2018)

In [8]:
# Creating DFs for each variable so as to have access to all zipcodes
income_df = pd.DataFrame(c.acs5.zipcode(mhi, Census.ALL))
housing_df = pd.DataFrame(c.acs5.zipcode(mhv, Census.ALL))
bachelors_df = pd.DataFrame(c.acs5.zipcode(wbd, Census.ALL))
total_df = pd.DataFrame(c.acs5.zipcode('B01003_001E', Census.ALL))

# Merging DFs on zipcodes
df18 = income_df.merge(housing_df, on='zip code tabulation area')
df18 = df18.merge(bachelors_df, on='zip code tabulation area')
df18 = df18.merge(total_df, on='zip code tabulation area')

# Renaming columns
df18 = df18.rename(columns={'B19013_001E': 'Median Household Income', 'zip code tabulation area': 'Zip', 'B25077_001E': 'Median Home Value', 'B01003_001E': 'Total Population', 'B99151_001E': 'Have Bachelors+'})

# Creating column to measure % of individuals with a bachelors degree or higher
df18['% Bachelors+'] = round(df18['Have Bachelors+']/df18['Total Population'] * 100, 2)

# Reorganizing columns
df18 = df18[['Zip', 'Median Household Income', 'Median Home Value', '% Bachelors+']]

In [9]:
# Cleaning up corrupted null values, imputing actual nulls into them
df18['Median Household Income'] = [np.nan if i<0 else i for i in df18['Median Household Income']]
df18['Median Home Value'] =[np.nan if i<0 else i for i in df18['Median Home Value']]
df18['% Bachelors+'] = [np.nan if i<0 else i for i in df18['% Bachelors+']]

In [10]:
# Replacing null values with the mean of each column
df18['Median Household Income'] = df18['Median Household Income'].fillna(df18['Median Household Income'].mean())
df18['Median Home Value'] = df18['Median Home Value'].fillna(df18['Median Home Value'].mean())
df18['% Bachelors+'] = df18['% Bachelors+'].fillna(df18['% Bachelors+'].mean())

In [11]:
# Examining null count
df18.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 33120 entries, 0 to 33119
Data columns (total 4 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Zip                      33120 non-null  object
 1   Median Household Income  33120 non-null  float64
 2   Median Home Value        33120 non-null  float64
 3   % Bachelors+             33120 non-null  float64
dtypes: float64(3), object(1)
memory usage: 1.3+ MB

### Combining 2011 and 2018 data to get change values

In [12]:
# Combining 2011 and 2018 DataFrames
df_combined = df11.merge(df18, on='Zip')
df_combined

,Zip,Median Household Income_x,Median Home Value_x,% Bachelors+_x,Median Household Income_y,Median Home Value_y,% Bachelors+_y
0,00601,13318.0,103200.0,63.26,13092.000000,86200.00000,68.66
1,00602,14947.0,89300.0,65.42,16358.000000,86300.00000,71.30
2,00603,14437.0,116700.0,66.89,16603.000000,122400.00000,70.21
3,00606,11155.0,101000.0,63.23,12832.000000,91600.00000,70.16
4,00610,16367.0,109400.0,66.30,19309.000000,88600.00000,70.79
...,...,...,...,...,...,...,...
33115,99923,27500.0,108300.0,66.38,59031.427924,194562.64461,100.00
33116,99925,43125.0,164400.0,76.20,57375.000000,174500.00000,69.36
33117,99926,45216.0,101100.0,61.76,53409.000000,143100.00000,62.32
33118,99927,17639.0,123800.0,100.00,59031.427924,272500.00000,100.00
33119,99929,50286.0,169600.0,68.16,57583.000000,212600.00000,75.48

In [13]:
# Creating columns showing change in year range
df_combined['Household Income Change'] = round((df_combined['Median Household Income_y'] / df_combined['Median Household Income_x'] - 1)*100, 2)
df_combined['Median Home Value Change'] = round((df_combined['Median Home Value_y'] / df_combined['Median Home Value_x'] - 1)*100, 2)
df_combined['% Bachelors+ Change'] = round((df_combined['% Bachelors+_y'] / df_combined['% Bachelors+_x'] - 1)*100, 2)

In [14]:
# Creating final dataframe using relevant columns
df_change = df_combined[['Zip', 'Household Income Change', 'Median Home Value Change', '% Bachelors+ Change']]

In [15]:
df_change['Zip'] = df_change['Zip'].astype('int64')

C:\Users\brock\anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

### Starbucks Data

In [16]:
# Read in data
sb_data = pd.read_csv('data_exploration/data/directory.csv')

In [17]:
# Count how many US stores exist by their ownership type
sb_data.loc[sb_data['Country'] == 'US']['Ownership Type'].value_counts()

Company Owned    8226
Licensed         5382
Name: Ownership Type, dtype: int64

In [18]:
# Exploring US only data
sb_data.loc[sb_data['Country'] == 'US']

,Brand,Store Number,Store Name,Ownership Type,Street Address,City,State/Province,Country,Postcode,Phone Number,Timezone,Longitude,Latitude
11964,Starbucks,3513-125945,Safeway-Anchorage #1809,Licensed,5600 Debarr Rd Ste 9,Anchorage,AK,US,995042300,907-339-0900,GMT-09:00 America/Anchorage,-149.78,61.21
11965,Starbucks,74352-84449,Safeway-Anchorage #2628,Licensed,1725 Abbott Rd,Anchorage,AK,US,995073444,907-339-2800,GMT-09:00 America/Anchorage,-149.84,61.14
11966,Starbucks,12449-152385,Safeway - Anchorage #1813,Licensed,1501 Huffman Rd,Anchorage,AK,US,995153596,907-339-1300,GMT-09:00 America/Anchorage,-149.85,61.11
11967,Starbucks,24936-233524,100th & C St - Anchorage,Company Owned,"320 W. 100th Ave, 100, Southgate Shopping Ctr ...",Anchorage,AK,US,99515,(907) 227-9631,GMT-09:00 America/Anchorage,-149.89,61.13
11968,Starbucks,8973-85630,Old Seward & Diamond,Company Owned,1005 E Dimond Blvd,Anchorage,AK,US,995152050,907-344-4160,GMT-09:00 America/Anchorage,-149.86,61.14
...,...,...,...,...,...,...,...,...,...,...,...,...,...
25567,Starbucks,74385-87621,Safeway-Laramie #2466,Licensed,554 N 3rd St,Laramie,WY,US,820723012,307-721-5107,GMT-07:00 America/Denver,-105.59,41.32
25568,Starbucks,73320-24375,Ridley's - Laramie #1131,Licensed,3112 E. Grand,Laramie,WY,US,820705141,307-742-8146,GMT-07:00 America/Denver,-105.56,41.31
25569,Starbucks,22425-219024,Laramie - Grand & 30th,Company Owned,3021 Grand Ave,Laramie,WY,US,82070,307-742-3262,GMT-07:00 America/Denver,-105.56,41.31
25570,Starbucks,10849-103163,I-80 & Dewar Dr-Rock Springs,Company Owned,118 Westland Way,Rock Springs,WY,US,829015751,307-362-7145,GMT-07:00 America/Denver,-109.25,41.58
25571,Starbucks,10769-102454,Coffeen & Brundage Lane-Sheridan,Company Owned,2208 Coffeen Ave,Sheridian,WY,US,828016213,307-672-5129,GMT-07:00 America/Denver,-106.94,44.77

In [19]:
# Creating new dataframe with only US data, drop one null zip
sb_zeroed = sb_data.loc[sb_data['Country'] == 'US'].dropna()

In [20]:
# Creates a table of 5-digit zipcodes
splits = [int(''.join(str(i).split())[:5]) for i in sb_zeroed['Postcode']]

In [21]:
# Adds a zip column made up of only the 5-digit zipcodes
sb_zeroed['Zip'] = splits

In [22]:
# Creating groupby object to count the number of stores in each zipcode
sb_groupby = sb_zeroed.groupby('Zip')

In [23]:
# Create store count, build new dataframe with the zipcode and a single count
sb_count = sb_groupby.count()
sb_df = pd.DataFrame(sb_count['Brand']).reset_index()

In [24]:
# Final Starbucks Dependents
sb_df

        Zip  Brand
0      1035      1
1      1040      2
2      1056      1
3      1201      1
4      1331      1
...     ...    ...
5888  99701      2
5889  99705      1
5890  99709      3
5891  99801      2
5892  99901      1

[5893 rows x 2 columns]

In [25]:
# Merge Starbucks data with Census data
df = df_change.merge(sb_df, how='left', on='Zip')

In [26]:
# Impute null data with zeroes
df['Brand'] = df['Brand'].fillna(0)

In [27]:
# Full dataframe including dependent variable (store count). Incudes Zips without a location.
df = df.rename(columns={'Brand': 'Store Count'})

In [28]:
df

,Zip,Household Income Change,Median Home Value Change,% Bachelors+ Change,Store Count
0,601,-1.70,-16.47,8.54,0.0
1,602,9.44,-3.36,8.99,0.0
2,603,15.00,4.88,4.96,0.0
3,606,15.03,-9.31,10.96,0.0
4,610,17.98,-19.01,6.77,0.0
...,...,...,...,...,...
33115,99923,114.66,79.65,50.65,0.0
33116,99925,33.04,6.14,-8.98,0.0
33117,99926,18.12,41.54,0.91,0.0
33118,99927,234.66,120.11,0.00,0.0
33119,99929,14.51,25.35,10.74,0.0

In [29]:
# Full dataframe including dependent variable (store count). Does NOT include Zips without a location.
df_without = df.loc[df['Store Count'] != 0]
df_without

,Zip,Household Income Change,Median Home Value Change,% Bachelors+ Change,Store Count
30,12866,24.57,25.08,1.70,4.0
42,12901,14.52,7.60,0.42,2.0
75,12946,24.79,-1.22,-5.83,1.0
122,13032,5.54,24.43,0.88,1.0
128,13039,22.08,7.44,5.82,1.0
...,...,...,...,...,...
33020,99701,12.99,0.81,-0.54,2.0
33024,99705,1.77,12.82,10.24,1.0
33026,99709,21.26,8.72,0.87,3.0
33095,99801,13.31,14.70,3.50,2.0
33109,99901,22.91,6.83,3.89,1.0

In [30]:
# Send both dataframes to CSV
df.to_csv('data_exploration/full_us_data.csv')
df_without.to_csv('data_exploration/us_data.csv')

### Walmart Data

In [31]:
# Import Walmart data
wal_data = pd.read_csv('data_exploration/data/walmartstoreloaction.csv')

In [32]:
# View countries represented in data
wal_data['country'].value_counts()

US    4636
PR      18
Name: country, dtype: int64

In [33]:
# Exclude superfluous columns
wal_trimmed = wal_data[['name','street_address','city','state','zip_code','country','latitude','longitude']]

# Rename remaining columns
wal_trimmed = wal_trimmed.rename(columns={'name': 'Location Name', 'street_address': 'Address', 'city': 'City', 'state': 'State', 'zip_code': 'Zip', 'country': 'Country', 'latitude': 'Lat','longitude':'Long'})

# Added 'Brand' column for counting purposes
wal_trimmed['Brand']='Walmart'
wal_trimmed.head()

,Location Name,Address,City,State,Zip,Country,Lat,Long,Brand
0,Conway Supercenter,1155 Hwy 65 North,Conway,AR,72032,US,35.108660,-92.436905,Walmart
1,Sikeston Supercenter,1303 S Main St,Sikeston,MO,63801,US,36.857394,-89.586051,Walmart
2,Tahlequah Supercenter,2020 S Muskogee Ave,Tahlequah,OK,74464,US,35.888765,-94.979859,Walmart
3,Mountain Home Supercenter,65 Wal Mart Dr,Mountain Home,AR,72653,US,36.354957,-92.341026,Walmart
4,Claremore Supercenter,1500 S Lynn Riggs Blvd,Claremore,OK,74017,US,36.293955,-95.627125,Walmart

In [34]:
# I am attempting to use the length of the 'City' column +1 as the number of characters to remove
# from the 'Location Name' value of each row to leave only the Store Type for classification...
# I'm not sure how to use a variable to indicate the number of characters to slice off.
for index, row in wal_trimmed.iterrows():
    city_length = len(row['City'])+1
    # Ideally I would have some code that would slice off the number of characters = city_length
    # from 'Location Name' for each row

In [35]:
# Group by Zip
wal_groupby = wal_trimmed.groupby('Zip')

In [36]:
wal_count = wal_groupby.count()
wal_df = pd.DataFrame(wal_count['Brand']).reset_index()

In [38]:
# Merge Walmart data with Census + Starbucks data
df_both_stores = df.merge(wal_df, how='left', on='Zip')

In [40]:
# Impute null data with zeroes
df_both_stores['Brand'] = df_both_stores['Brand'].fillna(0)

In [41]:
# Full dataframe including dependent variable (store count). Incudes Zips without a location.
df_both_stores = df_both_stores.rename(columns={'Store Count': 'Starbucks Store Count', 'Brand':'Walmart Store Count'})
df_both_stores

,Zip,Household Income Change,Median Home Value Change,% Bachelors+ Change,Starbucks Store Count,Walmart Store Count
0,601,-1.70,-16.47,8.54,0.0,0.0
1,602,9.44,-3.36,8.99,0.0,0.0
2,603,15.00,4.88,4.96,0.0,0.0
3,606,15.03,-9.31,10.96,0.0,0.0
4,610,17.98,-19.01,6.77,0.0,0.0
...,...,...,...,...,...,...
33115,99923,114.66,79.65,50.65,0.0,0.0
33116,99925,33.04,6.14,-8.98,0.0,0.0
33117,99926,18.12,41.54,0.91,0.0,0.0
33118,99927,234.66,120.11,0.00,0.0,0.0
33119,99929,14.51,25.35,10.74,0.0,0.0

In [54]:
# Full dataframe including dependent variable (store count). Does NOT include Zips without a location.
df_both_stores_without = df_both_stores.loc[(df_both_stores['Walmart Store Count'] != 0) | (df_both_stores['Starbucks Store Count'] != 0)]
df_both_stores_without

,Zip,Household Income Change,Median Home Value Change,% Bachelors+ Change,Starbucks Store Count,Walmart Store Count
7,617,2.63,1.05,6.31,0.0,1.0
30,12866,24.57,25.08,1.70,4.0,1.0
37,12883,16.09,-7.53,-6.34,0.0,1.0
42,12901,14.52,7.60,0.42,2.0,1.0
75,12946,24.79,-1.22,-5.83,1.0,0.0
...,...,...,...,...,...,...
33020,99701,12.99,0.81,-0.54,2.0,1.0
33024,99705,1.77,12.82,10.24,1.0,0.0
33026,99709,21.26,8.72,0.87,3.0,0.0
33095,99801,13.31,14.70,3.50,2.0,0.0
33109,99901,22.91,6.83,3.89,1.0,1.0

In [55]:
df_both_stores.to_csv('data_exploration/both_stores_full_us_data.csv')
df_both_stores_without.to_csv('data_exploration/both_stores_only_data.csv')